* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ritm {
  background: -o-linear-gradient(180deg, #3b0a0a, #5a0f0f);
  padding: 80px 100px;
  color: #fff;
}

.ritm-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 32px;
}

.ritm-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}

.ritm-block-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.ritm-text {
  min-width: 500px;
}

.ritm-text h3 {
  margin-bottom: 15px;
}

.ritm-img {
  width: 400px;
  border-radius: 12px;
}
